@model IEnumerable<TP3.Models.Customer>

@{
    ViewData["Title"] = "List Customer";
}
    <div class="container mt-5">
        <a asp-controller="Movie" asp-action="Index" class="btn btn-primary">Movie List</a>

        <a asp-action="AddCustomer" class="btn btn-primary">Add Customer</a>

        <h2 class="mb-4">Customer List</h2>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Membership</th>
                    <th>Actions</th>
                    <!-- Ajoutez d'autres colonnes selon votre modèle -->
                </tr>
            </thead>
            <tbody>
                @foreach (var customer in Model)
                {
                    <tr>
                        <td>@customer.Name</td>
                        <td>@customer.MembershiptypeID</td>
                        <td>
                            <a asp-action="Details" asp-route-id="@customer.Id">Details</a> | <a asp-action="Delete" asp-route-id="@customer.Id">Delete</a> | <a asp-action="Edit" asp-route-id="@customer.Id">Edit</a>
                        </td><!-- Ajoutez d'autres colonnes selon votre modèle -->
                    </tr>
                }
            </tbody>
        </table>
    </div>

  
